body {
  font-family: "Mukta", sans-serif;
  background-color: #eee;
}
.avatar-uploader > .ant-upload {
  width: 500px;
  height: 500px;
}
.title-card {
  font-size: 24px;
  color: #3d3d3d;
}
.ant-modal-content {
  top: -60px;
}
.ant-btn-g {
  margin-left: 40%;
  margin-right: 40%;
}
.badge-g {
  position: absolute !important;
  top: 2px;
  right: 0;
}
.font-content {
  font-size: 0.8rem;
}
.ant-card-body {
  padding: 10px !important;
}
.img-g {
  object-fit: fill;
}
